@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
    )
}
body {
  width: 100%;
  margin: 8px 0px 0px 0px;
  background-color: #fef9f3;
}

.anime-opacity:hover {
    opacity: 0;  
    transition: opacity 0.35s ease-out;
    -webkit-transition: opacity 0.35s ease-out;  
    -moz-transition: opacity 0.35s ease-in-out;   

}

.parent-cat-el {
  display: grid;
  grid-template-columns: 1fr;
}

.hyphens {
  hyphens: auto;
}

.child-cat-el {
  grid-row-start: 1;
  grid-column-start: 1;
}
